flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e4452230.763078","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f18fa6e0.ae9898","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":320,"wires":[]},{"id":"16cc3896.14dc87","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["f18fa6e0.ae9898"]]},{"id":"95e0e210.aab57","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["10435edf.8cd8f1"]]},{"id":"33f50308.08601c","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":520,"y":180,"wires":[]},{"id":"10435edf.8cd8f1","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["33f50308.08601c"]]}]