flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e4452230.763078","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2970a96.387d156","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"37036ca4.8d3474","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"37036ca4.8d3474","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"f18fa6e0.ae9898","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":320,"wires":[]},{"id":"16cc3896.14dc87","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["f18fa6e0.ae9898"]]},{"id":"95e0e210.aab57","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["10435edf.8cd8f1"]]},{"id":"33f50308.08601c","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":520,"y":180,"wires":[]},{"id":"10435edf.8cd8f1","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["33f50308.08601c"]]},{"id":"9e328d5.17c83f","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"2970a96.387d156","x":170,"y":540,"wires":[["7337cbff.85a434"]]},{"id":"7337cbff.85a434","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":540,"wires":[]},{"id":"a2b81558.38edf","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["303a5b60.cd864c"]]},{"id":"303a5b60.cd864c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["3a4e8005.f72d48"]]},{"id":"3a4e8005.f72d48","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"2970a96.387d156","x":490,"y":460,"wires":[]}]